#splashPage__contentWrapper #header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#splashPage__contentWrapper #header-container {
    background: transparent;
}

#splashPage__contentWrapper .main-navigation {
    background: transparent;
    border: none;
}

#splashPage__contentWrapper #broker-navigation .navbar-nav .nav-item {
    border: none;
}

#splashPage__contentWrapper.dark-theme #broker-navigation .navbar-nav .nav-link {
    background: transparent !important;
    color: #333;
}

#splashPage__contentWrapper.dark-theme #broker-navigation .navbar-nav .active > .nav-link,
#splashPage__contentWrapper.light-theme #broker-navigation .navbar-nav .active > .nav-link {
    background: transparent;
    font-weight: bolder;
    text-decoration: underline;
}

#splashPage__contentWrapper.light-theme #broker-navigation .navbar-nav .nav-link {
    background: transparent !important;
    color: #FFF;
}